# -------------------
# Logs
# -------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------
# Dependency folders
# -------------------
node_modules/
venv/
.venv/
env/
.env/


source venv/bin/activate 

uvicorn main:app --reload  

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/

# -------------------
# Jupyter Notebooks Checkpoints
# -------------------
.ipynb_checkpoints/

# -------------------
# Streamlit & Streamlit-specific files
# -------------------
.streamlit/config.toml
.streamlit/secrets.toml

# -------------------
# VS Code
# -------------------
.vscode/*
!.vscode/extensions.json

# -------------------
# JetBrains IDEs
# -------------------
.idea/

# -------------------
# System files
# -------------------
.DS_Store
**/.DS_Store
Thumbs.db

# -------------------
# Build & dist
# -------------------
dist/
build/
*.egg-info/
*.egg
.eggs/

# -------------------
# Coverage & testing
# -------------------
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# -------------------
# Database & local secrets
# -------------------
*.sqlite3
*.db
*.pkl
*.joblib

# -------------------
# Lock files (optional depending on your setup)
# -------------------
Pipfile.lock
poetry.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# -------------------
# Misc
# -------------------
*.bak
*.tmp
*.orig
*.old
backend/.env
